:root{
    --cl-text-white: #f0f0f0;
    --cl-bleu-foncer: #24346E;
    --cl-bleu-clair: #4989CF;
    --cl-bleu-foncer-1: #2B4D9F;
    --cl-bleu-foncer-2: #2C5EBB;
    --cl-bleu-ultra-foncer: #110458;
    --cl-cyan: #4688A2;
    --cl-bleu-vert: #12B2C9;
    --cl-vert-clair: #17ECB2;
    --cl-rose: #C14FF1;
    --cl-rose-foncer: #9051D2;
    --cl-dark-violet: #721B6A;
    --cl-jaune: #F3C038;
    --font-sans-serif: "Segoe UI","Helvetica Neue","Noto Sans","Liberation Sans",
                    "Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-flow: column;
}

body{
    font-family: var(--font-sans-serif);
    
}

header{
    height: 10%;
    display: flex;
    text-align: center;
    background: url(../src/banner.jpg);
    background-position: center bottom;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 2px 20px 10px;
}

main{
    display: flex;
    align-items: center;
    flex: 2 1 100px;
    flex-flow: column;
}

footer{
    display: flex;
    flex: 0 1 10px;
    text-align: center;
}

.box{
    display: inline-block;
    flex: 0 0 auto;
    vertical-align: top;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 15px;
    padding: 5px;
    text-align: center;
    align-items: center;
}

/* --- Header --- */
#lienlogo {
    position: relative;
    display: flex;
    top: 15px;
    left: 0.5%;
    margin: 0;
    padding: 0;
    width: 9%;
    height: 130%;
    vertical-align: middle;
    z-index: 999;
}
#logo{
    margin: 0;
    padding: 0;
    z-index: 999;
}

#title{
    width: auto;
    display: inline-flex;
    position: absolute;
    left: 50%;
    top: 1%;
    transform: translate(-50%);
    font-size: 250%;
    font-weight: bold;
    text-decoration: none;
    color: var(--cl-jaune);
}

.log {
    background-color: var(--cl-vert-clair);
    position: relative;
    width: auto;
    height: 50%;
    display: inline-flex;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 15px;
    border-radius: 8px;
    left: 70%;
    padding: 0px 5px;
    margin: 1%;
    text-decoration: none;
    font-size: 150%;
    color: var(--cl-bleu-foncer);
}

/* --- Main --- */

#mainpart{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 610px;
    margin: 0;
    background: url(../src/fondmain.jpg) no-repeat;
    background-position: center bottom;
    background-size: cover;
}


/* --- Footer --- */

footer {
    background-color: var(--cl-bleu-foncer);
    color: var(--cl-text-white);
    text-align: center;
    margin: 0;
    padding: 0.5%;
}

footer span {
    position: relative;
    left: 50%;
}