@import url(./base.css);
main {
    background: url(../src/fondmain.jpg) no-repeat;
    background-position: center bottom;
    background-size: cover;
}

.box{
    display: inline-block;
    flex: 0 0 auto;
    vertical-align: top;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 15px;
    padding: 5px;
    text-align: center;
    align-items: center;
}

#loga {
    left: 35em !important;;
}

/* --- Main --- */

#notconnect {
    background-color: var(--cl-cyan);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 15px;
    padding: 10px;
    text-align: center;
    align-items: center;
}

#infoperso {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;
    height: 300px;
    margin: 0;
    background-color: var(--cl-bleu-clair);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 15px;
}

#info {
    display: inline-flex;
    gap: 5%;
    padding: 10px;
    text-align: center;
    align-items: center;
    background-color: var(--cl-bleu-clair);
}

#info p {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 10px;
    padding: 5px;
    margin: 15px;
    background-color: var(--cl-bleu-foncer-1);
}

#changemdp{
    display: inline-flex;
    gap: 10%;
    align-items: center;
    margin-bottom: 10px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
}

#changemdp input{
    text-align: left;
    border-radius: 5px;
    width: 25%;
    height: 30px;
    margin-top: 10px;
    margin-left: 15px;
}

#changemdp button {
    width: 30%;
    height: 30px;
    border-radius: 5px;
    background-color: var(--cl-bleu-ultra-foncer);
    color: var(--cl-jaune);
    border: var(--cl-border);
    margin-top: 5px;
}

#eyes {
    width: 30px;
    height: 30px;
    position: absolute;
    margin: 2px;
    top: 72%
}

#mainpart{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 0;
}


#nores {
    position: relative;
    top: 10%;
    margin: 0;
    background-color: var(--cl-vert-clair);
    margin-left: auto;
    margin-right: auto;
}

#rest {
    font-size: 120%;
    background-color: var(--cl-vert-clair);
    width: 90%;
    margin-bottom: 10px;
}

.res {
    width: 90%;
    height: 250px;
    display: inline-flex;
    gap: 5%;
    padding: 10px;
    background-color: var(--cl-bleu-clair-clair);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 15px;
    margin-top : 20px;
}

.imgres {
    width: 300px;
    height: 250px;
}

.infores {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flexbox;
    flex-direction: column;
}


.login {
    display: block;
    text-decoration: none;
    width: 50%;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    background-color: var(--cl-bleu-ultra-foncer);
    color: var(--cl-jaune);
    border: var(--cl-border);
}