@import url(./base.css);
/* --- Main --- */

main {
    background: url(../src/registerfond.png);
    background-position: center bottom;
    background-size: cover;
    align-items: center;
    padding: 2%;
}

.boxadd{
    vertical-align: top;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 15px;
    padding: 5px;
    text-align: center;
    flex-direction: column;
    background-color: var(--cl-bleu-vert);
    border-radius: 8px;
    gap: 1%;
    margin: 0;
    width: 80%;
    max-width: 30em;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.boxadd select{
    text-align: left;
    width: 80%;
    border-radius: 5px;
    border: 1px solid var(--cl-border);
    box-shadow: 1px 1px 1px #999;
    margin-bottom: 10px;
} 

.boxadd span{
    font-size: 150%;
}

.boxadd form{
    align-items: center;
}

.boxadd input {
    display: block;
    text-align: left;
    border-radius: 5px;
    border: 1px solid var(--cl-border);
    box-shadow: 1px 1px 1px #999;
    margin-bottom: 20px;
    width: 80%;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
}

.boxadd button {
    width: 50%;
    height: 20px;
    border-radius: 5px;
    background-color: var(--cl-bleu-ultra-foncer);
    color: var(--cl-jaune);
    border: var(--cl-border);
}

.validate {
    vertical-align: top;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 15px;
    padding: 5px;
    background-color: var(--cl-bleu-clair);
    text-align: center;
    width: 50%;
}