@import url(./base.css);

.box{
    display: inline-block;
    flex: 0 0 auto;
    vertical-align: top;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 15px;
    padding: 5px;
    text-align: center;
    align-items: center;
}

/*--- Main ----*/

#mainpart{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 0;
    background: url(../src/findfont.jpg) repeat-x;
    background-position: center top;
}

#searchbanner {
    width: 70%;
    top: 1%;
    background-color: var(--cl-cyan);
    border-radius: 8px;
}

#searchbar{
    font-family: 'kosan';
    display: inline-flex;
    gap: 1%;
    margin: 0;
    width: 80%;
}

#searchbar label {
    display: inline-flex;
}

#searchbar input{
    font-family: 'kosan';
    text-align: left;
    width: 25%;
    border-radius: 5px;
    border: 1px solid var(--cl-border);
    box-shadow: 1px 1px 1px #999;
}

#searchbar select{
    text-align: left;
    width: 25%;
    border-radius: 5px;
    border: 1px solid var(--cl-border);
    box-shadow: 1px 1px 1px #999;
}

#searchbut {
    border-radius: 5px;
    background-color: var(--cl-bleu-ultra-foncer);
    color: var(--cl-jaune);
    border: var(--cl-border);
}

#nblit {
    width: 5% !important;
    appearance: textfield;
}

#nores {
    position: relative;
    top: 10%;
    margin: 0;
    background-color: var(--cl-vert-clair);
    margin-left: auto;
    margin-right: auto;
}

.login {
    display: block;
    text-decoration: none;
    width: 80%;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    background-color: var(--cl-bleu-ultra-foncer);
    color: var(--cl-jaune);
    border: var(--cl-border);
}

#findbox {
    display: flex;
    flex: 2 1 100px;
    flex-flow: wrap;
    gap: 5%;
    background-color: var(--cl-vert-clair);
    width: 90%;
    margin-bottom: 10px;
    margin-top: 3%;
    align-items: center;
    text-align: center;
    justify-content: center;
    z-index: 999;
}

.rest {
    width: 45%;
    height: 300px;
    display: block;
    gap: 5%;
    padding: 10px;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: var(--cl-bleu-clair-clair);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 15px;
    margin-top : 20px;
}

.res {
    width: 95%;
    display: inline-flex;
    gap: 5%;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.imgch {
    width: 300px;
    height: 250px;
}

.infoch {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flexbox;
    flex-direction: column;
}

.divres {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.formres {
    margin: 0;
}

.divres button{
    margin: 2px;
    width: 50%;
    height: 20px;
    border-radius: 5px;
    background-color: var(--cl-bleu-ultra-foncer);
    color: var(--cl-jaune);
    border: var(--cl-border);
}

#nblit {
    width: 8% !important;
    appearance: textfield;
}